<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title></title>
      </head>
  <body>
      <%include ./partial/header%>
    <form class="" action="/admintiket/updatetiket/<%=tiket.id%>" method="post" align="center">
      <p>Tugaskan teknisi:</p>
      <select class="" name="TeknisiId">
        <option value="0">Pilih Teknisi</option>
        <%for(var i= 0; i < teknisi.length; i++){%>
        <option value="<%=teknisi[i].id%>"><%=teknisi[i].name%></option>
        <%}%>
      </select>
      <p>Feedback dari admin jika reject</p>
      <p><textarea name="Feedback" rows="8" cols="80"></textarea></p>
      <select class="" name="Status">
        <option value="reject">reject</option>
        <option value="assigned">assigned</option>
      </select>
      <p><input type="submit" name="" value="submit"></p>
    </form>
  </body>
</html>
