<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <%include ./partial/header%>
    <form class="" action="/employeetiket/create" method="post">
      <p>Isikan masalah anda:</p>
      <textarea name="Problem" rows="8" cols="80"></textarea>
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
