<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/login" method="post">
      <input type="input" name="username" placeholder="username">
      <input type="passwordvv" name="password" placeholder="password">
      <select name="pilihan">
        <option value="employee">Employee</option>
        <option value="teknisi">Teknisi</option>
        <option value="admin">Admin</option>
      </select>
      <input type="submit" name="" value="submit">
      <%=msg%>
    </form>
  </body>
</html>
