<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>
  </head>
  <body>
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">IT Help Desk 007</a>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron" align = "center">
              <h1>Mini IT Help Desk</h1>
              <p>Your one step solution for all things IT</p>
            </div>
          </div>
        <div>
            <div align="center">
                <form class="" action="/login" method="post">
                  <input type="input" name="username" placeholder="username"><br>
                  <br>
                  <input type="password" name="password" placeholder="password"><br>
                  <br>
                  <select name="pilihan">
                    <option value="employee">Employee</option>
                    <option value="teknisi">Teknisi</option>
                    <option value="admin">Admin</option>
                  </select>
                  <input type="submit" name="" value="submit">
                  <%=msg%>
                </form>
              </div>
        </div>





  </body>

</html>
