<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>
  </head>
  <body>
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">IT Help Desk 007</a>
                  </div>
              </nav>
    <form action="/register" method="post">
        Name:<br>
        <input type="text" name="name" placeholder="Enter your name">
        <br>
        Username:<br>
        <input type="text" name="username" placeholder="Enter your username">
        <br>
        Password:<br>
        <input type="password" name="password" placeholder="Enter your password">
        <br>
        Re-enter Your Password:<br>
        <input type="password" name="reTypePassword">
        <br>
        Email:<br>
        <input type="text" name="email" placeholder="Enter your email">
        <br>
        <p><%=msgUser%></p>
        <br>
        <input type="submit" value="Register">
      </form> 
      <p>Have an ID?</p><a href="login">Click Here</a>
  </body>
</html>
