<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/teknisitiket/updatetiket/<%=tiket[0].id%>" method="post">
      <p>Feedback dari teknisi</p>
      <p><textarea name="Feedback" rows="8" cols="80"></textarea></p>
      <select class="" name="Status">
        <option value="reject">reject</option>
        <option value="onprogress">onprogress</option>
        <option value="solved">solved</option>
      </select>
      <p><input type="submit" name="" value="submit"></p>
    </form>
  </body>
</html>
